<h1><%= @trip.title %></h1>
<p>Date: <%= @trip.date %></p>
<p>Length: <%= @trip.length %> days</p>
<p>Budget: $<%= @trip.budget %></p>

<h2>Locations</h2>
<% @trip.locations.each do |location|%>
	<%= location.city %>
<% end %>

<%= link_to 'Edit', edit_trip_path(@trip) %>
<%= link_to 'Add a Location', new_trip_location_path(trip_id: @trip.id) %>