<h1><%= @trip.title %></h1>
<p>Date: <%= @trip.date %></p>
<p>Length: <%= @trip.length %> days</p>
<p>Budget: $<%= @trip.budget %></p>

<h2>Locations</h2>
<ul>
	<% @trip.locations.each do |location| %>
		<li><%= location.city %></li>
	<% end %>
</ul>


<h3>
<%= link_to 'Edit', edit_trip_path(@trip) %> | 
<%= link_to 'Add a Location', new_trip_location_path(trip_id: @trip.id) %>
<%= link_to 'Delete this trip', trip_path(@trip), method: :delete %>
</h3>
