<h1>Addresses</h1>

<% if @location.addresses.any? %>
	<ul>
		<% @location.addresses.each do |address| %>
		<li>
			<%= link_to address.name, address_path(id: address.id) %>,
			<%= link_to address.street, address_path(id: address.id) %>,
			<%= link_to address.city, address_path(id: address.id) %>,
			<%= link_to address.state, address_path(id: address.id) %>,
			<%= link_to address.zip, address_path(id: address.id) %>
		</li>
		<% end %>
	</ul>
<% else %>
	<h3>No addresses found. Please create one!</h3>
<% end %> 


<%= link_to 'New Address', new_address_path %> |
<%= link_to 'All Locations', locations_path %>