<h1><%= @location.city %>, <%= @location.country %></h1>

<h3>
	<%= @location.description %>
</h3>

<%= link_to 'Edit Location', edit_location_path(@location)  %>

<%= link_to 'Delete Location', location_path(@location), method: :delete %> 

<%= link_to 'All Locations', locations_path %>